{
  "{{ app_settings['APP_NAME'] }}": {
    "NODE_ENV": "production",
    "APP_BUNDLE_ID": "",
    "APP_URL": "{{ app_settings['APP_URL'] }}",
    "APP_PORT": "{{ app_settings['APP_PORT'] }}",
    "APP_MASTER_KEY": "",
    "APP_ID": "",
    "APP_FILE_KEY": "",
    "APP_PFX": "",
    "APP_PFX_PASSPHRASE": "",
    "APP_EMAIL_ADAPTER": "parse-server-simple-mailgun-adapter",
    "APP_FROM_ADDRESS": "no-reply@parseapps.com",
    "APP_EMAIL_DOMAIN": "parseapps.com",
    "APP_EMAIL_MAILGUN_KEY": "key-9186d7a353386820c1302f8cb532874a",
    "APP_DASHBOARD_AUTH": "admin:ohkien3P",
    "APP_DATABASE_USER": "",
    "APP_DATABASE_PASS": "",
    "APP_DATABASE_DBNAME": "",
    "PARSE_SERVER_LOGS_FOLDER": "/home/parse/apps/{{ app_settings['APP_NAME']|lower }}/logs"
  }
}